.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.header__headerRight {
    margin-top: 3px;
    margin-right: 20px;
}



hr {
    display: block;
    border: 0;
    border-top: 1px solid gray;
    margin-bottom: 0 !important;
    padding: 0;
}

@media (max-width: 767px) {
    .header__headerLeft__logo{
        width: 80%;
    }
    .header__headerRight{
        margin-right: 0;
    }
}
@media (max-width: 435px) {
    .header__headerLeft__logo{
        width: 100%;
    }
    .header__headerRight{
        margin-top: 0;
        margin-right: 0;
        flex: 2;
        text-align: right;
    }
    .header__headerRight__buttonBuyer{
        font-size: 0.4rem;
    }
    .header__headerRight__buttonSupplier{
        font-size: 0.4rem;
    }
    .header__headerLeft{
        flex: 1;
    }
}