.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.8rem;
}
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}