<div class="container">
    <app-header></app-header>
    <div class="content container row">

        <div class="content__imageContainer col-5">
            <div class="content__imageContainer__divImage">
                <img class="content__imageContainer__image" src="../../assets/a.png">
            </div>

        </div>
        <div class="content__contentContainer col-7">
            <div class="content__contentContainer__welcome">
                WELCOME
            </div>
            <div class="content__contentContainer__introduction">
                You have been invited to join
                <b>Compya</b> as a supplier of Shell Group.
            </div>
            <div class="content__contentContainer__mainContent">
                To accept the invitation and activate your account you will be required to complete
                a short onboarding process that will take around <i><b>20mins</b></i> and involve completion
                of up to <i><b>30 questions</b></i>.
            </div>
            <div class="content__contentContainer__mainFooter">
                Your registration shows buyers that you are fit to do business with!
            </div>
            <div class="content__contentContainer__mainButton">
                <div class="content__contentContainer__activate">
                  <button type="button" class="btn btn-danger btn-activate">Activate your account</button>
                  <div class="content__contentContainer__activateDetail">What is Company? <u>Learn More</u></div>
                </div>
                <div class="content__contentContainer__signIn">
                  <button type="button" class="btn btn-signIn">Sign In</button>
                  <div class="content__contentContainer__activateDetail">Already have an account? <u>Sign In</u></div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>
