.content {
    display: flex;
    margin-top: 50px;
}

.containerTemp {
    margin: 0 auto;
    width: 90%;
}

.content__imageContainer {
    display: flex;
    align-items: center;
}

.content__imageContainer__image {
    width: 100%;
}

.content__contentContainer__welcome {
    color: #e82c2e;
    font-weight: 650;
    line-height: 0.2;
    font-size: 0.9rem;
}

.content__imageContainer__divImage {
    width: 65%;
    margin: 0 auto;
}

.content__contentContainer__introduction {
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.3;
}

.content__contentContainer__mainContent {
    margin-top: 10px;
    font-size: 0.9rem;
}

.content__contentContainer__mainFooter {
    margin-top: 10px;
    font-size: 0.9rem;
}

.content__contentContainer__mainButton {
    display: flex;
    margin-top: 30px;
}

.content__contentContainer__activateDetail {
    font-size: 0.8rem;
}

.btn-signIn {
    background-color: white;
    font-weight: 600;
    padding-left: 60px;
    padding-right: 60px;
    border: 1px solid gray;
}

.btn-activate {
    background-color: #e82c2e;
}

.content__contentContainer__signIn {
    /* margin-left: 20px; */
}

@media (max-width: 992px) {
  .btn-activate{
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-signIn{
    font-size: 0.8rem;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 768px) {
  .content__contentContainer__welcome{
    margin-top: 30px;
  }
  .btn-activate{
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-signIn{
    font-size: 0.8rem;
    padding-left: 60px;
    padding-right: 60px;
  }
  .content__contentContainer__activate{
    text-align: center;
  }
  .content__contentContainer__signIn{
    text-align: center;
  }
}

@media (max-width: 425px) {
  .content__form__header {
    font-size: 1rem;
    margin-top: 4%;
  }


  .content__contentContainer__introduction {
    font-size: 1.5rem;
  }
  .content__form {
    border-right: 1px solid #cccccc;
    background-color: #f6f6f6;
    height: 300px;
  }
}
